body{
  margin: 0;
}
p{
  margin: 10px 0 5px 0;
}
h2, h4{
  margin: 5px 0;
  color: red;
}
.world-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}
.world-card > div{
  justify-content: center;
  align-items: center;
  height: 90px;
  text-align: center; color: black;
  font-size: x-large;
}
.world-card > div:nth-of-type(1){
  display: block;
  text-align: center;
  grid-column: 1/4;
}
.country-card{
  box-shadow: 0px 0px 5px 0px, 0px 0px 5px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  padding: 15px;
}
.details-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 10px;
}
.details-card > div{
  box-shadow: 0px 0px 4px 0px, 0px 0px .5px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.details-card p{
  grid-column: 1/4;
}
/*.grid-content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
  padding: 10px;
}
.grid-content > div{
  box-shadow: 0px 0px 5px 0px, 0px 0px 5px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  font-size: x-large;
}
.title > div{
  box-shadow: 0px 0px 5px 0px, 0px 0px 5px 0px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .grid-content > div:nth-of-type(1){
  display: block;
  text-align: center;
  grid-column: 1/4;
} */